{% extends 'base.html' %}

{% load static %}
{% block content%}

<title>{% block title %} SnapHive Creative- One-Stop Shop for everything Creative {% endblock %}</title>

<style>


/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

/* CSS for the counter section */
.counter {
  background-color: #f6f6f6;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 30px;
}

.counter-icon {
  margin-bottom: 20px;
}

.count-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.count-text {
  font-size: 18px;
  font-weight: 400;
}

/* CSS for the animation */
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes count {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add the animation class when the element comes into view */
.animated .count-number {
  opacity: 1;
  animation-name: count;
}
s
</style>


<body>
  


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">SnapHive</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
         
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1  data-aos="fade-right" data-aos-delay="1000" data-aos-duration="5000">Boost Your Online Presence with Our Web Development Experts</h1>
          <h2 style="font-size: smaller;"   data-aos="flip-down" data-aos-delay="1000" data-aos-duration="5000"> We are team of talented designers making websites, graphic deigning,photography,videography.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png'%}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/logo.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/devliery.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/mplogo.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/client-5.png'% }" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/client-6.png'% }" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              
              As a team of creative professionals, we are passionate about helping businesses and individuals turn their ideas into reality through our services in website creation, graphic design, photography, and videography.
              Our website creation services are tailored to each client's unique needs and objectives. From sleek and modern landing pages to fully-functional e-commerce platforms, our team of skilled web designers and developers work closely with clients to ensure their website not only looks great, but also meets their business goals.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Creating custom and visually appealing websites: Your company has a team of skilled web designers and developers who can create beautiful and functional websites from scratch. You are adept at using the latest design tools and technologies to create websites that are not only visually appealing but also user-friendly. By creating websites that are customized to your clients' needs, you help them stand out in a crowded digital space</li>
              <li><i class="ri-check-double-line"></i> Providing comprehensive graphic design solutions: Your company offers a wide range of graphic design services, from logo design to social media graphics, that help your clients build a strong brand identity. You are skilled at creating designs that are visually appealing, communicate the right message, and resonate with your clients' target audience.</li>
              <li><i class="ri-check-double-line"></i> Delivering high-quality photography and videography services: Your company's photography and videography services help your clients tell their stories through visually compelling content. You have a team of experienced photographers and videographers who can create stunning visuals that showcase your clients' products, services, or brand. Your services can be tailored to your clients' specific needs, making it easy for them to get the right type of visual content they need for their projects.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              In addition to website creation, our graphic design services offer a comprehensive range of branding and design solutions. Whether it's designing a new logo, creating business cards and brochures, or designing engaging social media graphics, our team takes pride in creating visually stunning designs that truly represent each client's brand and message.
              Furthermore, our photography and videography services capture the essence of your brand and your message through compelling visual storytelling. Whether it's capturing stunning product shots for your e-commerce platform, creating engaging social media content, or producing high-quality promotional videos, we are committed to delivering exceptional results that meet our clients' needs.
              At our company, we believe that our clients' success is our success. That's why we work hard to deliver exceptional quality in all of our services, and why we strive to build long-lasting relationships with our clients based on trust and mutual respect.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Our Priority: Your Satisfaction with Our Services
                <strong>We Strive to Exceed Your Expectations!</strong></h3>
              <p>
                Let us help you turn your vision into reality with our comprehensive range of digital services.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Consistently delivering high-quality services that meet or exceed customers' expectations <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Consistently delivering high-quality services that meet or exceed customers' expectations. This can include providing timely and efficient service, using advanced technology and equipment, and offering personalized solutions tailored to each customer's unique needs.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Offering competitive pricing and flexible payment options that make it easy for customers to do business with us. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Offering competitive pricing and flexible payment options that make it easy for customers to do business with us. This can include offering discounts, payment plans, and other incentives that demonstrate our commitment to customer satisfaction.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Providing exceptional customer service that goes above and beyond what customers expect <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Providing exceptional customer service that goes above and beyond what customers expect. This can include being responsive to customer inquiries and concerns, providing timely and accurate information, and taking proactive steps to address any issues that arise.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static 'assets/img/why-us.png'%}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/clients/topdon.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>"Unlock the Potential of Your Business - Go Online and Reach More Customers Today"</h3>
            <p class="fst-italic">
              In today's digital world, having a strong online presence is essential for any business looking to expand its customer base and drive growth. At our company, we specialize in helping businesses like yours establish a powerful online presence and reach more customers through digital marketing strategies, search engine optimization, and website design and development. With our expert guidance and support, you can take your business to new heights and unlock the full potential of your brand. Let us help you win more customers online and grow your business to new heights!
            </p>

            <!-- HTML !-->
          <button class="button-92" role="button">Get Started</button>


            <!-- <div class="skills-content">

              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Photoshop <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div> -->

          </div>
        </div>

      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Our company provides a range of services including web development, graphic design, photography and videography, e-commerce solutions, digital marketing, and ongoing support and maintenance. Our goal is to help you achieve your online business objectives and exceed your expectations.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/bkqtuigh.json"
                    trigger="hover"style="width:150px;height:150px">
                </lord-icon>
              </div>
              <h4><a href="">Web Development</a></h4>
              <p>Our expert web development team specializes in creating custom websites that are tailored to your business needs. <br>
                We build websites that are not only visually stunning but also user-friendly and optimized for search engines, ensuring that your business stands out online.
              </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/ijznovhy.json"
                    trigger="hover"style="width:150px;height:150px">
                </lord-icon></div>
              <h4><a href="">Graphic Design</a></h4>
              <p>We offer a range of graphic design services, including branding, logos, print materials, and social media graphics, to help you elevate your brand and stand out from the competition.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/smeqxwcv.json"
                    trigger="hover"
                    style="width:150px;height:150px">
                </lord-icon></div>
              <h4><a href="">Photography and Videography</a></h4>
              <p>Our professional photographers and videographers will capture stunning visuals that showcase your business and help you connect with your target audience.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/slkvcfos.json"
                    trigger="hover"
                    style="width:150px;height:150px">
                </lord-icon></div>
              <h4><a href="">E-commerce Solutions</a></h4>
              <p>We provide e-commerce solutions that help you sell your products online and reach a wider audience.
                
              </p>
            </div>
          </div>
       </div>


       <!-- second row of our services -->
       <div class="row pt-4">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/msoeawqm.json"
                  trigger="hover"
                  style="width:150px;height:150px">
              </lord-icon>
            </div>
            <h4><a href="">SEO Optimization</a></h4>
            <p>As an SEO company, we're dedicated to making your website stand out and attract as many potential customers as possible. Our team of experts analyzes your website, identifies issues, and devises a customized SEO strategy to boost its visibility. We use a variety of tactics to optimize your website, from on-page optimization to off-page link building. Let us help you maximize your online potential.
            </p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/uqpazftn.json"
                  trigger="hover"
                  style="width:150px;height:150px">
              </lord-icon>
            
            </div>
            <h4><a href="">Social Media Marketing</a></h4>
            <p>Social media marketing is an essential component of any successful digital marketing strategy. As a specialized social media marketing company, we understand the importance of engaging with your audience across various social media platforms to increase brand awareness, drive traffic to your website, and generate leads.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/kkwzhxjj.json"
                    trigger="hover"
                    style="width:150px;height:150px">
                </lord-icon>  
            </div>
            <h4><a href="">App Devlopment</a></h4>
            <p>As an app development company, we specialize in creating innovative, user-friendly, and functional apps for a variety of platforms. Our team of expert app developers has years of experience in the industry and stays up-to-date with the latest trends and technologies to provide the best possible service to our clients.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/gqdnbnwt.json"
                  trigger="hover"
                  style="width:150px;height:150px">
              </lord-icon>
            </div>
            <h4><a href="">E-mail Marketing</a></h4>
            <p>E-mail marketing is a powerful and effective way to communicate with your target audience and promote your business. As an e-mail marketing company, we specialize in crafting engaging and personalized e-mail campaigns that help you connect with your customers, drive conversions, and increase brand loyalty.
              
            </p>
          </div>
        </div>
     </div>

            


          

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
      <!-- <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Call To Action</h3>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
          </div>

        </div>
      </section>End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Our company offers a range of services including web development, photography, graphic design, videography, and more. We work with our clients to create custom websites that reflect their unique brand identity. Recently, we created a website for a photography company that showcases their portfolio with a minimalist, elegant design. Our team also provides easy-to-use navigation and ensures that the website is responsive and looks great on any device. We pride ourselves on providing high-quality services to our clients in various industries.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/savile.png'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>SavileRow Gh</h4>
              <p>Fashion E-commerce</p>
              <a href="{% static 'assets/img/portfolio/aurasi.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/aurasi.png'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Aurasi</h4>
              <p>US-Based Simcard Online Store</p>
              <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/fly.png'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Porfolio</h4>
              <p>Julius Personal Portfolio</p>
              <a href="{% static 'assets/img/portfolio/portfolio-3.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          


          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/books.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>At SnapHive, we have a talented team of professionals who are passionate about their work. Our team includes web developers, graphic designers, photographers, videographers, and other experts who work together to deliver high-quality services to our clients. With years of experience and a commitment to excellence, our team is dedicated to meeting the unique needs of each client and bringing their vision to life. We take pride in our collaborative approach and strive to foster a positive, creative, and inclusive work environment for all team members.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'assets/img/team/flyy.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Julius Boakye</h4>
                <span>Chief Executive Officer</span>
                <p>Julius is CEO of SnapHive in the Merch Perch industry, with a focus on quality and growth. <br> <strong><small>MPB,MPS,TsuMi </small></strong> </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'assets/img/team/daniel.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Daniel Ablorh Anum</h4>
                <span>Lead Photographer/Graphic Designer</span>
                <p>Daniel is the Head of the Graphic Designing team at SnapHive, responsible for overseeing all aspects of editing and more.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="counter">
              
              <div class="counter-icon">
                <img src="{% static 'assets/img/corporate.png'%}" width=50 alt="Happy Clients">
              </div>
              <h2 class="timer count-title count-number" data-to="500" data-speed="1500">+109</h2>
              <p class="count-text">Happy Clients</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="counter">
              <div class="counter-icon">
                <img src="{% static 'assets/img/loading.png'%}" width=50 alt="Completed Projects">
              </div>
              <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">980</h2>
              <p class="count-text">Completed Projects</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="counter">
              <div class="counter-icon">
                <img src="{% static 'assets/img/percentage.png'%}"  width="50" alt="Percent On Time">
              </div>
              <h2 class="timer count-title count-number" data-to="99" data-speed="1500">89%</h2>
              <p class="count-text">Percent On Time</p>
            </div>
          </div>
        </div>
      </div>
      
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What web development services do you offer?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Our company is into  website design and development, website redesign, e-commerce website development, website maintenance and support, custom web application development, content management system development, search engine optimization, website hosting, and more.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How long does it take to build a website?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The time it takes to build a website can vary depending on the complexity of the project, the number of features required, the amount of content needed, and the level of customization. As a web development agency, we typically provide our clients with an estimated timeline for their specific project during our initial consultation. However, a simple website with a few pages and basic features can take approximately 4-6 weeks to complete, while a complex e-commerce website with advanced features can take several months. We always work closely with our clients to ensure that we meet their requirements and deliver their project within the agreed timeline.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can you help with search engine optimization (SEO)?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, as a web development agency, we offer search engine optimization (SEO) services to our clients. Our team of SEO experts can help optimize your website's content and structure to improve your search engine rankings and increase visibility on the web. We use a range of techniques such as keyword research, on-page optimization, link building, and analytics tracking to help drive traffic to your website and improve its online presence. We can work with you to develop a customized SEO strategy that aligns with your business goals and targets your specific audience.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Can you create designs for both digital and print media?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, as a graphic design agency, we can create designs for both digital and print media. Our team of graphic designers has expertise in designing a range of materials such as websites, mobile applications, social media graphics, brochures, flyers, business cards, billboards, posters, and more. We can work with you to understand your design requirements and develop creative concepts that align with your brand and target audience. Our team is skilled in designing for both digital and print media, and we can ensure that your designs are optimized for each platform. Whether you need a digital banner or a print brochure, we can help bring your vision to life.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What types of photography do you specialize in?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  As a photography company, we specialize in various types of photography. Our services include portrait photography, wedding photography, event photography, commercial photography, architectural photography, fashion photography, food photography, and more. We have a team of experienced photographers who have expertise in their respective fields and can capture the essence of the subject through their lenses. We work closely with our clients to understand their needs and provide customized solutions that meet their requirements. Whether you need professional headshots for your business or stunning wedding photos, we can deliver high-quality photographs that meet your expectations.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Starting a New Project?</h2>
          <p>Are you ready to turn your vision into a reality? Our team of experts is here to help you bring your dream project to life. Contact us today to discuss your project requirements and let us provide you with a customized solution that meets your needs. We have years of experience in creating innovative and cutting-edge projects for a range of industries, and we are dedicated to delivering exceptional results that exceed your expectations. Get in touch with us now and take the first step towards making your project a success."</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Woleiaste Odametey Sowah St. <br>
                  Teshie Accra-Ghana
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>snaphive@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+233 25-751-7262</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d127068.4283074907!2d-0.23294495048889263!3d5.583512604478402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d5.55119!2d-0.2150885!4m5!1s0xfdf9b86fff41539%3A0xce8a789d1061c4db!2smerch%20perch%20store!3m2!1d5.5878096!2d-0.12010799999999999!5e0!3m2!1sen!2sgh!4v1677949702534!5m2!1sen!2sgh"  style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              
              <!-- <iframe src="https://www.google.com/maps/embed/v1/place?q=Teshie,+Accra,+Ghana&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="" method="POST"  class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>

                <div class="form-group col-md-6">
                  <label for="name">Phone Number <span style="color:gray">(optional)</span></label>
                  <input type="tel" class="form-control" name="phone" id="phone" required>
                </div>

                <div class="form-group col-md-6">
                  <label for="name">Project Category</label>
                  <select class="custom-select" id="categorySelect" name="category" onchange="showInputForm()">
                    <option selected>Type of Project</option>
                    <option value="Photography">Photography</option>
                    <option value="Web Design/Wed Devlopement">Web Design/Wed Devlopement</option>
                    <option value="App Development">App Development</option>
                    <option value="Graphic Design">Graphic Design</option>
                    <option value="other">Other</option>
                  </select>
                </div>

                <div id="otherInputForm" class="form-group col-md-6" style="display:none;">
                  <label for="otherInput">Please specify:</label><br>
                  <input type="text" id="otherInput" name="otherInput">
                </div>
                <!-- ========================================================= -->
                <!-- JS CODE TO BRING UP OTHER INPUT FOR IF THE SELECTED THE FORM IS OTHER -->
                <script>
                  function showInputForm() {
                var selectBox = document.getElementById("categorySelect");
                var otherInputForm = document.getElementById("otherInputForm");
                if (selectBox.value == "other") {
                  otherInputForm.style.display = "block";
                } else {
                  otherInputForm.style.display = "none";
                }
                }
                
                </script>
                                

                <!-- ===================================================================== -->
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li style="color: green;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
            </form>
          

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>
  
  <!-- End #main -->

  



</body>


</html>
{% endblock content%}



